.wrap {
	width: 100%;
	height: 100%;
	/*margin:auto;*/
	background: #0000;
	color: beige;
}

.widget {
	width: 100%;
	height: 100%;
	margin: 0;
	/*margin:32px; */
}

.widget p {
	display: inline-block;
}

.fecha {
	text-align: center;
	font-size: 1em;
	/*margin-bottom: 5px;*/
	padding:0;
	margin: 0;
	width: 100%;
	height: 50%;
}

.reloj {
	width: 100%;
	height: 50%;
	padding: 0;
	margin: 0;
	font-size: 1em;
	text-align: center;
}

.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 1em;
	display: inline-block;
}
